/.vs
/Debug
/analyzeZipFile/Debug
/analyzeZipFile/_sample.zip
/analyzeZipFile/empty.zip
/analyzeZipFile/sample.zip
/analyzeZipFile/DorNetZip32/sample.zip
/analyzeZipFile/empty/sample.zip
/analyzeZipFile/smallSize1/_sample.zip
/analyzeZipFile/smallSize2/sample.zip
/analyzeZipFile/windows/sample.zip
